---
---

@import 'config';

@import 'bourbon/bourbon';

@import 'base/poole';
@import 'base/layout';
@import 'base/global';
@import 'base/syntax';

@import 'component/sidebar';
@import 'component/hero';
@import 'component/post';
@import 'component/page';
@import 'component/tag';
@import 'component/masthead';
@import 'component/pagination';

.toc-side{
top: 7.0rem; 
position: absolute;
left:0.5rem;
max-width:16rem;
}
@media (max-width: 84em) {
 .toc-side {
  position:inherit;
 }
}