<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="sidebar-personal-info">
      <div class="sidebar-personal-info-section">
        <a href="http://gravatar.com/{{ site.author.gravatar }}">
          <img src="http://www.gravatar.com/avatar/{{ site.author.gravatar }}?s=350" title="View on Gravatar" alt="View on Gravatar" />
        </a>
      </div>
      <div class="sidebar-personal-info-section">
        <p>{{ site.author.description }}</p>
      </div>
      {% if site.author.contact %}
      {% assign len = site.author.contact | size %}
      {% assign current_index = 0 %}
      <div class="sidebar-personal-info-section">
        <p> Follow me: 
        {% for contact in site.author.contact %}
        {% assign iconname = contact[0] %}
        {% if contact[0] == 'email' %}
        {% assign iconname = 'envelope' %}
        {% endif %}
        <a href="{{ contact[1] }}">
          <i class="fa fa-{{ iconname }}" aria-hidden="true"></i>
        </a>
        {% assign current_index = current_index | plus: 1 %}
        {% if current_index != len %}|{% endif %}
        {% endfor %}
        </p>
      </div>
      <div class="sidebar-personal-info-section" id="lightchanger">
        <p>
          <input type="radio" name="changer" v-on:click="sunclick" value="sun" :checked="!checked()"> <i class="fa fa-sun-o"></i> &nbsp;&nbsp;
          <input type="radio" name="changer" value="night" v-on:click="nightclick()" :checked="checked()"> <i class="fa fa-moon-o"></i>
        </p>
      </div>
      <script>
        var vm = new Vue({
          el: '#lightchanger',
          data: {
            checked: function(event){
              var isIfNight = localStorage.getItem("issun") == "false";
              if(!isIfNight)
              {
                document.getElementsByTagName("body")[0].onload = loadSunStyle;
              }else{
                document.getElementsByTagName("body")[0].onload = loadNightStyle;
              }
              return isIfNight;
            }
          },
          methods: {
            sunclick: function(event){
              localStorage.setItem("issun","true");
              loadSunStyle();
            },
            nightclick: function(event){
              localStorage.setItem("issun","false");
              loadNightStyle();
            }
          }
        });
        function loadSunStyle(){
          document.getElementsByTagName("body")[0].style.background="white";
          document.getElementsByClassName("masthead")[0].style.background="white";
          document.getElementsByClassName("masthead")[0].style.borderBottomWidth=1;
          document.getElementsByClassName("sidebar-toggle")[0].style.opacity=1;
          document.querySelectorAll("code.highlighter-rouge").forEach(function(e,i){
            e.style.background="#f9f9f9";
          });
          document.querySelectorAll(".gist-meta").forEach(function(e,i){
            e.style.background="white";
          });
          document.querySelectorAll("article h1").forEach(function(e,i){
            e.style.color="#313131";
          });
          document.querySelectorAll("article h2").forEach(function(e,i){
            e.style.color="#313131";
          });
          document.querySelectorAll("article h3").forEach(function(e,i){
            e.style.color="#313131";
          });
          document.querySelectorAll("article h4").forEach(function(e,i){
            e.style.color="#313131";
          });
          document.querySelectorAll("article h5").forEach(function(e,i){
            e.style.color="#313131";
          });
          document.querySelectorAll("article h6").forEach(function(e,i){
            e.style.color="#313131";
          });
          document.querySelectorAll(".gist .blob-num").forEach(function(e,i){
            e.style.color="rgba(27,31,35,.3)";
            e.style.background="transparent";
          });
          document.querySelectorAll(".gist .blob-code").forEach(function(e,i){
            e.style.background="transparent";
          });         
          document.querySelectorAll("blockquote").forEach(function(e,i){
            e.style.borderLeftColor="#e5e5e5";
          });
          document.querySelectorAll("h2.darkstripe").forEach(function(e,i){
            e.style.background="#DDDDDD";
          });
        }

        function loadNightStyle(){
          document.getElementsByTagName("body")[0].style.background="black";
          document.getElementsByClassName("masthead")[0].style.background="rgb(20 20 20)";
          document.getElementsByClassName("masthead")[0].style.borderBottomWidth=0
          document.getElementsByClassName("sidebar-toggle")[0].style.opacity=0.6;
          document.querySelectorAll("code.highlighter-rouge").forEach(function(e,i){
            e.style.background="#282828";
          });
          document.querySelectorAll(".gist-meta").forEach(function(e,i){
            e.style.background="black";
          });
          document.querySelectorAll("article h1").forEach(function(e,i){
            e.style.color="#6a9fb5";
          });
          document.querySelectorAll("article h2").forEach(function(e,i){
            e.style.color="#6a9fb5";
          });
          document.querySelectorAll("article h3").forEach(function(e,i){
            e.style.color="#6a9fb5";
          });
          document.querySelectorAll("article h4").forEach(function(e,i){
            e.style.color="#6a9fb5";
          });
          document.querySelectorAll("article h5").forEach(function(e,i){
            e.style.color="#6a9fb5";
          });
          document.querySelectorAll("article h6").forEach(function(e,i){
            e.style.color="#6a9fb5";
          });
          document.querySelectorAll(".gist .blob-num").forEach(function(e,i){
            e.style.color="#a3a3a3";
            e.style.background="black";
          });        
          document.querySelectorAll(".gist .blob-code").forEach(function(e,i){
            e.style.background="#b6b6b6";
          });
          document.querySelectorAll("blockquote").forEach(function(e,i){
            e.style.borderLeftColor="#2c2c2c";
          });          
          document.querySelectorAll("h2.darkstripe").forEach(function(e,i){
            e.style.background="#1f1f1f";
          });                    
        }
      </script>      
    {% endif %}
    </div>
  </div>

  <nav class="sidebar-nav">
    {% for nav in site.nav %}
      {% assign is_relative = nav[1][0] | slice: 0 %}
      {% assign url = nav[1][0] %}
      {% if is_relative == '/' %}
        {% assign url = nav[1][0] | prepend: site.baseurl %}
      {% endif %}

      {% assign sub_len = nav[1] | size | minus: 1 %}

      <span class="{% if sub_len > 0 %}foldable{% endif %}">
        <a class="sidebar-nav-item {% if page.url == nav[1][0] %}active{% endif %}" href="{{ url }}">
          {{ nav[0] }}
        </a>

        {% for i in (1..sub_len) %}
          {% for sub_nav in nav[1][i] %}
            {% assign sub_is_relative = sub_nav[1] | slice: 0 %}
            {% assign sub_url = sub_nav[1] %}
            {% if sub_is_relative == '/' %}
              {% assign sub_url = sub_nav[1] | prepend: site.baseurl %}
            {% endif %}
              <a class="sidebar-nav-item sidebar-nav-item-sub {% if page.url == sub_nav[1] %}active{% endif %}" href="{{ sub_url }}">
                {{ sub_nav[0] }}
              </a>
          {% endfor %}
        {% endfor %}
      </span>

    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
    &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. This work is liscensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
    </p>
  </div>

  <div class="sidebar-item">
    <p>
    Powered by <a href="http://jekyllrb.com">jekyll</a> and <a href="https://github.com/poole/lanyon">lanyon</a>
    </p>
  </div>
</div>
